* {
    font-family: "Playwrite HU", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container3D {
    position: relative;
    width: 100%;
}

#container3D h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    white-space: nowrap;  /* Prevent line breaks */
}

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#debug-info {
    width: 100%; /* Full width */
    height: auto; /* Adjust height based on content */
    background-color: rgba(0, 0, 0, 0.4); /* White background */
    position: fixed; /* Fix it to the bottom of the screen */
    bottom: 0; /* Position at the bottom */
    left: 0; /* Align to the left */
    padding: 10px; /* Add some padding */
    z-index: 1000; /* Ensure it's on top of other elements */
}

#debug-info p {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color: rgb(255, 255, 255); /* Ensure text is visible */
    font-size: 14px; /* Adjust font size */
}